.contrie-grid{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
  }

  h4{
    font-size: 3rem;
    color: var(--Text-And-Light-Mode-Elements)
  }