@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  margin:0;
  padding:0;
}

:root{
--Dark-Mode-Elements: hsl(209, 23%, 22%);
--Dark-Mode-Background: hsl(207, 26%, 17%);
--Light-Mode-Text: hsl(200, 15%, 8%);
--Light-Mode-Input: hsl(0, 0%, 52%);
--Light-Mode-Background: hsl(0, 0%, 98%);
--Text-And-Light-Mode-Elements: hsl(0, 0%, 100%);
}

body {
  font-family: "Nunito Sans", serif;;
  background-color: var(--Dark-Mode-Background);
}

